appdirs
attrs
bcrypt
bokeh
cffi
click
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
packaging
pandas
pathspec
Pillow
pycparser
pyparsing
python-dateutil
pytz
PyYAML
six
SQLAlchemy
toml
tornado
typed-ast
typing-extensions
Werkzeug
WTForms==2.3.1
numpy
gunicorn